@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

/* font-family: "Nunito", sans-serif; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Bowlby One SC', cursive; */
:root {
  --white: #f9f1fa;
  --black: #150c28;
  --linear: linear-gradient(
    90deg,
    rgba(61, 53, 194, 1) 0%,
    rgba(185, 0, 255, 1) 64%
  );
  --linear-bg: rgb(61, 53, 194);
  --offset: rgb(46, 39, 177);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", cursive;
  opacity: 0.9;
}

h1 {
  font-size: 4.5rem;
}

p,
span {
  opacity: 0.9;
  font-size: 1.8rem;
}

@media screen and (max-width: 900px) {
  p,
  span {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  p,
  span {
    font-size: 1.2rem;
  }
}
